.scrollWrapper {
  position: relative;
  height: 70vh;
  z-index: -1;

  .scrollBg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 1200px;
    background-image: url("../../../../../assets/mainScroll.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
}
