.infoConfigSelOptList {
  width: 100%;
  min-height: 30px;
  line-height: 30px;
  margin-bottom: -2px;
  padding-left: 10px;
  background-color: #efefef;
  border: 1px solid #c1c1c1;
  text-align: start;

  &:hover {
    background-color: #e1e1e1;
  }
}
