@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500&display=swap");

.mainCarousel {
  position: relative;
  width: 100%;
  margin: 70px 0 150px 0;

  .instagram {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Roboto Slab", serif;
    font-size: 24px;
    margin-bottom: 50px;

    i {
      font-size: 50px;
      margin-bottom: 30px;
    }
  }

  .container {
    width: 73%;
    margin: auto;
    overflow: hidden;

    .carouselWrapper {
      display: flex;
      width: 6200px;
      height: 100%;
      transition: all 1000ms ease-in-out;

      &.active {
        z-index: 1;
      }
    }
  }

  button {
    position: absolute;
    top: 35%;
    bottom: 0;
    font-size: 30px;
    color: #2e2452;
    background: none;
    border: none;
    z-index: 1;
    cursor: pointer;

    &.goRight {
      right: 0;
    }
  }
}
