.signup {
  position: fixed;
  opacity: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000000000;

  .signupBackground {
    width: 100%;
    height: 100%;
    z-index: 900;
  }

  .signupContainer {
    position: absolute;
    top: 0;
    left: 50%;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 700px;
    transform: translate(-50%, 0);
    padding: 60px 40px;
    margin: 120px auto;
    background-color: #fff;
    border-radius: 5px;
    align-items: center;
    z-index: 1000;
    overflow-y: scroll;

    .password,
    .phone {
      width: 100%;
      height: 50px;
      padding: 15px;
      margin-bottom: 50px;
      border: solid 1px lightgray;
      border-radius: 5px;

      &::placeholder {
        font-family: "Nanum Myeongjo", serif;
        font-size: 15px;
      }
    }

    .email,
    .name {
      width: 100%;
      height: 50px;
      padding: 15px;
      margin-bottom: 50px;
      border: solid 1px lightgray;
      border-radius: 5px;

      &::placeholder {
        font-family: "Nanum Myeongjo", serif;
        font-size: 15px;
      }
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }

    .address,
    .passwordCheck {
      width: 100%;
      height: 50px;
      padding: 15px;
      border: solid 1px lightgray;
      border-radius: 5px;

      &::placeholder {
        font-family: "Nanum Myeongjo", serif;
        font-size: 15px;
      }
    }

    .addressDetail {
      width: 100%;
      height: 50px;
      padding: 15px;
      margin-top: -1px;
      border: solid 1px lightgray;
      border-radius: 5px;

      &::placeholder {
        font-family: "Nanum Myeongjo", serif;
        font-size: 15px;
      }
    }

    h1 {
      font-size: 20px;
      font-weight: bold;
    }

    h3 {
      margin: 70px 0 30px 0;
    }

    .signupBtn {
      width: 100%;
      line-height: 48px;
      margin-top: 50px;
      color: #fff;
      background-color: #2e2452;
      border-radius: 5px;
      font-family: "Nanum Myeongjo", serif;
      font-size: 15px;
      font-weight: bold;
      cursor: pointer;
    }

    .disabled {
      opacity: 0.5;
      cursor: default;
    }

    .signupInputContainer {
      position: relative;
      width: 100%;
    }

    .warning {
      position: absolute;
      top: 60px;
      left: 0;
      padding-left: 15px;
      width: 100%;
      color: #2e2452;
      font-size: 13px;
    }

    .toLogin {
      width: 100%;
      margin-top: 20px;
      margin-left: 34px;
      text-align: left;
      font-size: 13px;
      font-weight: bold;

      span {
        cursor: pointer;
      }
    }

    .copyRight {
      margin-top: 100px;
      color: grey;
      font-size: 13px;
    }
  }
}
