.signupContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  margin: 50px auto;
  font-family: "Nanum Myeongjo", serif;

  .inputPw,
  .inputPwCheck,
  .inputPhone,
  .inputAddress {
    width: 350px;
    height: 50px;
    padding: 15px;
    margin-top: 50px;
    border: solid 1px lightgray;

    &::placeholder {
      font-family: "Nanum Myeongjo", serif;
      font-size: 15px;
    }
  }

  .inputEmail,
  .inputName {
    width: 350px;
    height: 50px;
    padding: 15px;
    margin-top: 20px;
    border: solid 1px lightgray;

    &::placeholder {
      font-family: "Nanum Myeongjo", serif;
      font-size: 15px;
    }
  }

  .inputAddressDetail {
    width: 350px;
    height: 50px;
    padding: 15px;
    margin-top: -1px;
    border: solid 1px lightgray;

    &::placeholder {
      font-family: "Nanum Myeongjo", serif;
      font-size: 15px;
    }
  }

  h1 {
    font-size: 17px;
    font-weight: bold;
  }

  h3 {
    margin-top: 70px;
  }

  .signupBtn {
    width: 350px;
    height: 50px;
    margin-top: 50px;
    border-color: none;
    font-family: "Nanum Myeongjo", serif;
    font-size: 17px;
    font-weight: bold;
    // 아래 스타일링을 .purple로 하고 싶어요 (common css)
    color: #fff;
    background-color: #2e2452;
    cursor: pointer;
  }

  .disabled {
    opacity: 0.5;
    cursor: default;
  }

  .warning {
    width: 350px;
    margin: 15px 0 0 36px;
    color: #2e2452;
    font-size: 13px;
  }

  .copyRight {
    margin-top: 100px;
    font-size: 13px;
    color: grey;
  }
}
