.tags {
  min-height: 30px;

  span {
    display: inline-block;
    padding: 2px 4px;
    height: 16px;
  }

  .new {
    margin: 3px;
    color: white;
    background-color: #2e2452;
  }

  .sale {
    margin: 3px;
    color: white;
    background-color: #e85a58;
  }

  .best {
    margin: 3px;
    color: #e85a58;
    background-color: white;
    border: 1px solid rgba(64, 64, 64, 0.5);
  }
}
