.filterWrapper {
  .filters {
    .filter {
      &::after {
        content: "|";
      }

      &:last-child::after {
        content: "";
      }

      button {
      }
    }
  }
}

.listWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  gap: 20px;
  width: 80%;
  margin: auto;
}
