@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500&display=swap");

.mainLinks {
  display: flex;

  .mainLink {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16.666%;
    height: 200px;

    /*fonts*/
    .listTitle {
      font-family: "Roboto Slab", serif;
      font-size: 36px;
      color: #2e2452;
      margin-bottom: 20px;
    }

    .listWrapper {
      display: flex;
    }

    .listContent {
      color: #2e2452;
      line-height: 1.6em;
      margin-right: 25px;
    }

    .listEmoji {
      font-size: 40px;
    }

    &.mapLink {
      display: flex;
      align-items: center;
      background-image: url("../../../assets/madamju.jpg");

      a {
        display: inline-block;
        color: #fff;
        line-height: 1.6em;

        .mapLinkBold {
          font-size: 20px;
          font-weight: 700;
        }
      }
    }
  }
}
