.productDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #efefef;

  .top {
    display: flex;
    max-width: 1250px;
    padding: 15px;

    .img {
      width: 50%;
      padding: 15px;

      &Sub {
        display: flex;
      }
    }

    .info {
      width: 50%;
      padding: 15px 15px 15px 100px;

      &Img {
        width: 495px;
        height: 150px;
        object-fit: cover;
        border-top: 1px solid #dedede;
      }
    }
  }

  .tab {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin: 20px;
    font-size: 20px;
  }

  .detailInfo {
    text-align: center;
    width: 80%;
    padding-top: 50px;
    border-top: 1px solid #dedede;

    &Img {
      width: 60%;
    }
  }
}

@media screen and (max-width: 1200px) {
  .productDetail {
    .top {
      align-items: center;
      flex-direction: column;
      width: 100%;
      padding: 0px;

      .img {
        width: 70%;
      }

      .info {
        width: 70%;
        padding: 15px 0px;
      }
    }
  }
}
