.infoConfig {
  margin-top: 20px;
  padding-top: 10px;
  background-color: #eaeaea;

  &Choice {
    position: relative;

    &Btn {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 30px;
      margin-top: 10px;
      background-color: #e8e8e8;
      border: 1px solid #212121;
    }

    &Opt {
      position: absolute;
      top: 30px;
      width: 100%;
    }
  }
}
