.nav {
  display: flex;
  justify-content: center;
  background-color: #2e2452;
  opacity: 0.9;
  color: white;
  font-size: 20px;

  .brandName .mainMenu {
    margin-right: 200px;
    font-weight: bolder;
  }

  ul li {
    float: left;
    margin: 50px 30px 50px 30px;
    cursor: pointer;
  }

  a:link {
    color: white;
    text-decoration: none;
  }

  a:visited {
    color: white;
    text-decoration: none;
  }
}
