.nav {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: #2e2452;
  z-index: 1000;

  .navMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1100px;
    margin: 0 auto;
    color: white;
    font-size: 20px;
  }

  .brandName {
    margin-left: 30px;
  }

  .mainMenu {
    font-weight: bolder;
  }

  ul {
    display: flex;
    align-items: center;

    li {
      margin: 50px 30px 50px 30px;
      cursor: pointer;
    }
  }

  a:link {
    color: white;
    text-decoration: none;
  }

  a:visited {
    color: white;
    text-decoration: none;
  }
}
